// destaque
.featured	{
	position: relative;
	margin-bottom: 80px;
	width: 100%;
	height: 450px;
	background: url(http://via.placeholder.com/1920x450) center top no-repeat;
	background-size: cover;	
	
	&__form {
		float: right;
		width: 300px;
		margin-top: 50px;
		padding: 20px 15px;
		background-color: #fff;
		border-radius: 5px;

		.head {
			margin-bottom: 20px;			
			color: @primary;
			font-size: 25px;
			font-weight: 700;
			text-align: center;
		}

		.form-control {
			width: 100%;
			height: 46px;
			margin-bottom: 15px;
			padding: 15px;
			background-color: @secundary;
			border-radius: 4px;
			color: @text;
			font-size: 14px;
			.transition(.3s);
			.placeholder(@text);
			&:focus, &:hover {
				.placeholder(@primary);
			}
			&.error {
				.placeholder(#f12);
			}
		}

		.btn {
			display: block;
			width: 100%;
			height: 50px;
			background-color: @primary;
			border-radius: 4px;
			font-size: 14px;
			color: #fff;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			.transition(.3s);
		}
	}
}

// linha um
.line-one {
	margin-bottom: 80px;

	&__list {
		text-align: center;
	}

	&__icon {
		display: table;
		width: 80px;
		height: 80px;	
		margin: auto;
		padding: 15px;
	}

	&__caption {		
		margin-top: 25px;

		strong {
			display: block;
			margin-bottom: 10px;
			font-size: 1.125em;
			font-weight: 700;
			color: @primary;
			text-transform: uppercase;
		}
		
	}
}

// linha dois
.line-two {	
	margin-bottom: 80px;

	&__image {
		border-radius: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}
}

// linha três
.line-three {
	margin-bottom: 80px;

	&__image {
		border-radius: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__caption {		
		margin-bottom: 10px;
		font-size: 1.5em;
		font-weight: 700;
		color: @primary;
		text-transform: uppercase;		
	}

	.text {
		margin-bottom: 20px;
	}
}

// location 
.location {	

	.none {
		padding: 0;
	}

	&__address {
		float: right;
		margin-top: 150px; 
		padding-right: 40px;		
	}

	&__head {
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: 700;
		color: @primary;
	}

	&__place {
		display: block;
		margin-bottom: 15px;
		font-size: 28px;
		font-weight: 700;
		color: @secundary;
	}

	&__text {
		font-size: 25px;
		color: @text;
	}

	&__mapa {
		display: block;
		width: 100%;
		height: 500px;
	}
}

// 1024
@media only screen and (max-width: 1170px) {

	// location 
	.location {	

		&__address {
		}		

		&__text {
			font-size: 21px;
		}
	}

}

// celular com porcentagem
@media only screen and (max-width: 992px) {

	// destaque
	.featured	{
		height: auto;	
		background-size: 220%;	

		&__form {
			float: none;
			width: 100%;
			margin-top: 50%;
			background-color: #eee;			
		}
	}

	// location 
	.location {			

		&__address {
			float: none;
			margin: 0 0 30px;
			padding-right: 0;
			text-align: center;	
		}

		&__head {
			font-size: 25px;
		}

		&__place {
			font-size: 20px;
		}

		&__text {
			font-size: 18px;
		}

		&__mapa {
			height: 300px;
		}
	}

}

// celulares tela pequena
@media only screen and (max-width: 767px) {

	// destaque
	.featured	{
		margin-bottom: 50px; 

		.container {
			padding: 0;
			margin: 0;
		}
		
		&__form {
			border-radius: 0;
		}
	}

	// linha um
	.line-one {
		margin-bottom: 50px;

		&__item {
			margin: 15px 0;
		}
	}

	// linha dois
	.line-two {
		margin-bottom: 50px;
		
		&__item {
			margin: 15px 0;
		}
	}

	// linha três
	.line-three {
		margin-bottom: 50px;

		&__image {
			margin-bottom: 15px;
		}		
	}	

}