.footer {
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: @text;

	&__copy {
		display: block;
		font-size: .875em;
		color: #fff;
		text-align: center;
	}

}

// hover 
@media only screen and (min-width: 1200px) {
	
}

// desktop 1024
@media only screen and (max-width: 1200px) {

}

// celular com porcentagem
@media only screen and (max-width: 992px) {

}

// celulares tela pequena
@media only screen and (max-width: 767px) {

	.footer {
		margin-bottom: 60px;
	}

}